<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/lib/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main/main.css">
</head>
<body>
 <div class="tripSelectWrapper">   
  <div class="container">
    <h1>Easy tour creator</h1>

    <div id="mainContainer"> 
    </div>
    <div class="row">
        <div class="span12"?\>
            <div class="findTour">
              <input type="submit" id="findTour" value="Find my tour!" class="btn btn-primary btn-large">
            </div>
        </div>
    </div>
    <h1>Your perfect tour:</h1>
    <div id="ajaxReturn">
    </div>
  </div>
</div>
    <script type="text/template" id="tmplt-Tours">
        <ul>
        </ul>
    </script>
    <script type="text/template" id="tmplt-Tour">
    <div class="row-fluid">
        <div class="span12">
        <div class="imageHolder">           
        </div>
        <div class="selectHolder">
		    <h2><%= title %> </h2>
	   	    <p><%= description %><p>
            <form>
                    <% if((title == "Dinner") || (title == "Seating")){ %>
                        <select class="optionChange">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        </select>
                    <% }; %>
                    <% if(title == "Tour combination"){ %>
                        <select class="optionChange">
                        <option>None, thank you.</option>
                        <option>Pearl Harbor</option>
                        <option>Dole Plantation</option>
                        <option>North Shore</option>
                        <option>Pearl Harbor and the Dole Plantation</option>
                        <option>Circle Island</option>
                        </select>
                    <% }; %>
                        <% if ((title == "Lei greeting") || (title == "Canoe Ride") || (title == "Behind the scenes tour") || (title == "Souvenir DVD") || (title == "Dessert") || (title == "Tour guide")){ %>
                        <div class="yes_no_wrap">
                            <div class="yes_click pull-left"></div>
                            <div class="no_click pull-right"></div>
                        </div>
                        <% } %>
            </form>
        </div>
        </div>

    </div>
    </script>
    <script src="./js/lib/jquery.min.js"></script>
    <script src="./js/lib/underscore.js"></script>
    <script src="./js/lib/backbone-min.js"></script>
    <script src="./js/main/main.js"></script>   
    <script src="./js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</body>
</html>
